gradio==4.13.0
faster_whisper==0.10.0
torch==2.1.1
torchaudio==2.1.1
pypinyin
hangul_romanize
num2words
spacy[ja]>=3
coqpit>=0.0.16
scipy>=1.11.2
librosa>=0.10.0
trainer
transformers>=4.33.0
einops>=0.6.0